.banner{
    background-image: url("../../../public/img/banner/2.jpg");
    height: 100%;

    .content{
        position: absolute;
        display: flex;
        flex-direction: column;
        width: 50%;

    }
}