.fixed {
  width: 1320px;
  background-color: whitesmoke;
  color: black;
  top: 31px;
  left: 300px;
  gap: 30px;
  position: fixed;
  box-shadow: 1px 0 2px rgb(1, 2, 2);
  height: 123px;

  
}

header {
  width: 100%;
  background-color: whitesmoke;
  color: black;
  position: fixed;
  box-shadow: 1px 0 2px rgb(1, 2, 2);
  z-index: 9999;
  height: 123px;
  

  .divide{
    width: 100%;
    top: 45px;
    border: 1px;
    color: #e3e3e3;
  }

  



  .header {
    width: 100%;
    height: 90px;
    margin: 0 auto;
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: inherit;

    .classics{
      display:flex;
      padding: 5px;
      font-size: 15px;
      font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      list-style: none;
      width: 50px;
      margin-left: 10px;
      cursor: pointer;

      .navbar {
        background-color: inherit;
        color: black;
      
      }
      
      .menu {
        list-style: none;
        padding: 0 20px;
        margin: 0;
        display: flex;
        width: 50px;
      }
      
      .menuItem {
        position: relative;
        margin-left: 40px;
        width: 150px;

        span{
          color:#111010;
          cursor: pointer;

          &:hover{
            background-color: aliceblue;

            transition: 0.4s ease-out all;
          }
        }
      }

     
      
      .menuItem:hover .submenu {
        display: block;
      }
      
      .submenu {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        background-color: whitesmoke;
        padding: 10px;
        list-style: none;
        margin: 0;
        transition: 0.4s linear all;

      }
      
      .submenu li {
        margin-bottom: 8px;
        display: flex;
        justify-content: space-around;
        transition: 0.2s ease-in all;
        &:hover{
          transition: 0.2s ease-out all;
          margin-right: 7px;

        }


        Button{
          transition: 0.2s ease-out all;
          font-size: 12px;
          color: black;

        }
      }
      
    }

    .searchbar{
      transition:all 1s step-end;
      list-style: none;
      margin-left:150px;
    }
      

     
    
    
  }
    
    @media screen and (max-width:320px) {
      .searchbar{
       
       margin-left:200px;
      }     
   }

   @media screen and (max-width:280px) {
    .searchbar{
     
     margin-left:-340px;
     padding: 0;
    }     
 }
  
  
    
    @media screen and (max-width:912px) {
    header{
      width: 100px;
    .header{
      margin-left: -10px;

      ul{
        display: none;
      }

      
    }
  }
  }

  .logo {
    width: 180px;
    height: 34px;
    color:black;
    border: 0.5px;
    padding: 0 20px;

    h2{
    font: 'AmstelvarAlpha';
    font-weight: 400;
    width: 98px;
    height: 34px;
    font-size: 28px;
    line-height: 33.6px;
    color: #000000;
    cursor: pointer;
    
    }
    
  }

  nav {
    width: 85%;
    display: flex;
    justify-content: space-between;
    ul {
      display: flex;
      justify-content: space-between;
      list-style: none;

      .logo-mobile {
        display: none;
        color:white;
      }

      li {
        margin: 0 5px;
        a {
          color: white;
          font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
         font-size: 15px;
          &:hover {
            color: rgb(13, 62, 85);
            font-size: medium;
            transition: 0.2em;
          }
        
        
        }

        /*search bar */







        
      }

    }
  }

  .header-right {
    display: flex;
    font-weight: bold;
    margin-right:15px;

    .cart  {
      margin-right: 65px;
      display: flex;
      color: #161618;
      font-size: 20px;
      width: 20px;
      height: 19px;
      line-height: 20px;
      font-weight: 900;
      align-items: center;

      
      &:hover {
         color: rgb(37, 3, 5);
        
      }
      &.active {
        color: var(--color-danger);
      }
      p {
        position: absolute;
        top: -1rem;
        right: -1rem;
        font-weight: 500;
      }
    }
    

    span {
      
      display: flex;

      p {
        color: #5a0d0d;
      }
    }

    .links {
      width: 20px;
      height: 18px;
      line-height: 17px;
      margin-top: -40px;
      margin-right: 40px;
      
      .welcome{
        font: Roboto;
        font-weight: 400;
        font-size: 18px;
        line-height: 21.90px;
        color: black;
      }
    
    
    a {
      margin: 0 5px;
      color: #111010;
      &:hover {
        color: rgb(43, 24, 17);
      }
      &.active {
        color: var(--dark-blue);
      }
    }
  }
  }

  .menu-icon {
    cursor: pointer;
    display: none;
    font-size: 20px;

  }

  @media screen and (max-width: 820px) {
    
    nav {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 50%;
      height: 100vh;
      
      padding: 1rem;
      z-index: 9999;
      transform: translateX(-200%);
      transition: all 0.3s;
      background-color: rgb(7, 36, 44);

      .nav-wrapper {
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100vh;
        background-color: rgba(0,0,0,0.4);
        transform: translateX(-200%);
        transition: all 0.3s;
      }

      .show-nav-wrapper {
        transform: translateX(100%);
      }

      ul {
        display: block;
        .logo-mobile {
          display: flex;
          justify-content: space-between;
          align-items: center;
          font-size: 20px;
          color: white;
          > * {
            cursor: pointer;
          }

          h2{
            color:var(--color-danger)
          }
        }
        li {
          padding: 5px 0;
          a {
            display: block;
            color: white;
            font-weight: bold;
            &:hover{
              color: rgb(28, 102, 163);
              font-size: medium;
            }
          }
        }
      }

      .header-right {
       
        .links {
          display: block;
          background-color: inherit;
          a {
            display: block;
            padding: 5px 0;
            color: var(--color-danger);
            font-weight: bold;

          }
          
        }

        @media screen and (max-width:464px) {
          .loginButton{
            width: 20vw;
          }
        }

       
      }
      
    }
   
    
    .show-nav {
      transform: translateX(0);
    }
    .hide-nav {
      transform: translateX(-200%);
    }
    .menu-icon {
      display: flex;
      > * {
        margin-left: 2rem;
      }
    }
  }
  
}

@media screen and (max-width:1024px) {
  
  header{
    width: 100%;


    .header{
      width: 100%;

      
      
        .searchbar{
        margin-left:-30px;
        
      }
      
    }


  }
  
}
@media screen and (max-width:912px) {
  
  header{
    width: 100%;


    .header{
      width: 100%;

      
      
        .searchbar{
          //width:80%;
        margin-left:-77px;
        
      }
      
    }


  }
  
}





@media screen and (max-width:820px) {
  
  header{
    width: 100%;


    .header{
      width: 100%;

      
      
        .searchbar{
        margin-left:-230px;
        
      }
      
    }


  }
  
}

@media screen and (max-width:600px) {
  
  header{
    width: 100%;


    .header{
      width: 90%;

      .logo{
        width: 10%;
        color:white;

        h2{
          font-size: 15px;
        }
      }
      
        .searchbar{
        margin-left:-130px;
        
      }
      
    }


  }
  
}

@media screen and (max-width:464px) {
  
  header{
    width: 100%;
    height: 10rem;


    .header{
      width: 100%;

      .logo{
        margin-top: 10px;
        font-size: 17px;
      }
      
      .divider{
        display: none;
      }

      .logo{
        width: 10%;
        color: white;

        h2{
          font-size: 15px;
        }
      }
      
        .searchbar{
        margin-left:-170px;
        margin-top: 0;
        font-size: 25px;
        
      }
      
    }


  }
  
}

@media screen and (max-width:820px) {
  .classics{
    display: none;
  }
  .menuItem{
    display:none;
  }
}

@media screen and (max-width:464px) {
  .classics{
    display: none;

  }
  .menuItem{
    display: none;
  }
  
  header{
    width: 100%;


    .header{
      width: 90%;

      .searchbar{
        margin-left:-250px;
        font-size:12px;
        
      }

      .logo{
        width: 10%;
        color: white;

        h2{
          font-size: 15px;
        }
      }
      
        
      
    }


  }
  
}




@media screen and (max-width:320px) {
  
  header{
    width: 100%;


    .header{
      width: 90%;

      .logo{
        width: 10%;
        color: rgb(100, 48, 48);

        h2{
          font-size: 15px;
        }
      }
      
        .searchbar{
        margin-left:-230px;
        
      }
      
    }


  }
  
}



.active {
  position: relative;
  color: var(--color-primary);

}
.active::before{
  color: var(--color-primary);
}


.active::after {
  content:"";
  position: absolute;
  left: 0;
  bottom: -3px;
  margin-left: 40%;
  background-color: var(--dark-blue);
  transition: 0.3s all ease-out;
}
.categories{
  display: flex;
  width: 100%;
  justify-content: space-between;
  height: 59px;
  font: 'Open Sans';
  
  

  ul{
    
    padding: 0;
    margin: 0 50px;
    height:40px;
    
    
    
                      
     
  
    li{
      display: flex;
      color:black;
      width: 100%;
      font: 'Open Sans';
      line-height: 13.6px;
      font-size: 12px;
      font-weight: 200;

        &:hover{
          border-bottom: 1px solid gray;
          color: var(--color-primary);
          transition: 1s linear all;

        }
      
      
      
      }
    }
    @media screen and (max-width:820px) {
      display: none;
    }
  
}


  