.auth {
  display: flex;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  overflow:hidden;
  scroll-behavior: smooth;

  .img {
    // animation: slide-down 0.5s ease;
    width:100%;
    height:100%;
    overflow: hidden;

  }

  .loginImage{
    height:690px;
    width:50%;
    padding: 0;
    position: relative;

    .show-slide-down {
      max-height: 1000px; /* Adjust the value as needed */
      transition: max-height 1.5s ease-in-out;
      overflow: hidden;
    }
    
    .hide-slide-up {
      max-height: 0;
      transition: max-height 0.5s ease-in-out;
      overflow: hidden;
    }
    

    .loginSpan{
      color:white;
      position:absolute; 
      background-color: brown;
      margin:60% 20%;
      padding:30px;
      transition:  1.5s ease-in-out;
      overflow: hidden;
    }

    .loginHeading{
      color:white;
      position:absolute; 
      margin:40% 10%;
      font-weight: bold;
      font-size: 30px;
      padding:30px;
      background-color: rgba(0,0,0,0.1);

      
    }
    
  }

  .form {
    width: 55%;
    height: 100%;
    //animation: slide-up 0.5s ease;
    color:white;
    background-color: rgb(4, 17, 24);
    padding:60px 120px;

    span{
      font-size: 15px;
      font-weight: 400;
      transition: 1s ease-in all;
    }

    button{
      padding: 2rem;
      &:disabled{
        color:gray;
        cursor: not-allowed;
      }
    }
    h2,p {
      text-align: center;
      font-size: 30px;
      margin: 0;
    }
    
    form {
      
      input[type="text"],
      input[type="email"],
      input[type="password"] {
        display: block;
        font-size: 1.6rem;
        font-weight: 300;
        padding: 2rem;
        margin: 1rem auto;
        width: 100%;
        border: 1px solid #777;
        border-radius: 3px;
        outline: none;
        color: white;

        .links {
          display: flex;
          justify-content: space-between;
          margin: 5px 0;
          color: gray;
  
          &:hover{
            color:white;
          }
        }
        

        
      }
     
    }
  }

  @keyframes slide-up {
    0% {
      transform: translateY(-5rem);
    }
    100% {
      transform: translateY(0);
    }
  }
  @keyframes slide-down {
    0% {
      transform: translateY(5rem);
    }
    100% {
      transform: translateY(0);
    }
  }
}


