.contain {
    flex:1;
    width:100%;
    height:100%;
    position: relative;
    margin-top: 100px;

    .out{
        background-color: rgba(0,0,0,0.2);
        text-align: center;
        width: 95%;
        height: 90%;
        background-size: cover;
        position: absolute;

        .stock{
            
            padding-top: 50%;
        }
    }   

   /* Define styles for the 'img' element */
img {
    height: 80%;
    width: 100%;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    &:hover{
        width: 100%;

    }
  
    /* Define styles for the 'img' element on hover */
    &:hover + .infos{
        display: flex;
        background-color: #071b28;
        justify-content: space-between;
      }
    
  }
  
  
  
  
    
        
        .h3{
            font-weight: bold;
            font-size:15px;
            padding-top:3px;
    }

    

        .infos{
            display:none;
            align-items: center;
            position:absolute;
            background-color: rgba(0,0,0,0.5);
            width:100%;
            height: 20%;
            bottom:0;
            left:0;
            justify-content: space-between;
            cursor: pointer;

            
        


            .icon{
            position:relative;
            width: 40px;
            height: 40px;
            background-color: inherit;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 10px;
            cursor: pointer;
            color: white;


            }
        }
            

        

            .price{
                font-family: system-ui, -apple-system,Roboto;
                font-weight: bold;
                color:darkred;
                font-size:20px;
                right:0;
                padding-top:10px;
                margin-bottom:20px;
                display:flex;
                justify-content: space-between;
                border-bottom: 2px solid grey;

                .old{
                    color: black;
                    text-decoration: line-through;
                }

             }

                

}

@media screen and (max-width:464px) {
    .contain{
        margin-top: 15px;
        width: 150px;
        height: 150px;

        img{
            width:100%;
            height: 100%;
        }
    }
}
.contain:hover .infos {
    display: flex;
    background-color: #071b28;

  }