.form {
  display: flex;
  align-items: center;
  height: 50px;
}

.search-container {
  margin-left: 50px;
  display: flex;
  align-items: center;
  transition: width 0.3s ease-out; /* Transition for the width property */
  width: 500px; /* Default width */
  animation: slide-out 2s linear all;
  animation-fill-mode: forwards;
}

@media screen and (max-width: 820px) {
  .search-container {
    width: 300px;
  }
}

@media screen and (max-width: 600px) {
  .search-container {
    width: 200px;
  }
}

.search-container.expanded {
  width: 400px;
  animation: slide-out 2.5s ease-out;
}

@keyframes slide-out {
  from {
    width: 0px;
  }
  to {
    width: -500px;
  }
}

.search {
  width: 100%;
  border: 0.5px solid #0c1116;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 10px;
  font-size: 15px;
  transition: 2s linear all; /* Transition for the background-color property */
  animation: slide-out 2s linear all;
  animation-fill-mode: forwards;
}

@media screen and (max-width: 820px) {
  .search {
    width: 100%;
    font-size: 12px;
    height: 50px;
    margin-left: -150px;
    margin-right: 180px;
  }
}

.btn {
  border: none;
  background-color: transparent;
  cursor: pointer;
  outline: none;
  transition: 2s linear all;

  .searchIcon {
    scale: 1.25px;
    font-weight: 900;
    font-size: 25px;
    line-height: 20px;
    top: 4px;
    transition: 2s linear all;
  }
}

.closeView {
  transition: 2s linear all;
}
