.form {
  display: flex;
  align-items: center;
  width:100%;
  margin-left: 80px;
  justify-content: center;

  .input{
    color: black;
          font: Arial;
          border-radius: 30px;
          font-weight: 600;
          padding:10px;
          border:1px solid #d6d4d4;
          background-color:#d6d4d4;
          width: 400px;

          &:hover{
            background-color: #9c9c9c;
            
          }
    
  }

  
  
}

@media screen and (max-width: 1024px){
  .form{
    margin-left: 90px;
    width: 100%;
    .input{
      width: 300px;
    }
    
  }
}

@media screen and (max-width: 820px){
  .form{
    margin-left: 30px;
    width: 70%;
    .input{
      width: 300px;
    }
    
  }
}
@media screen and (max-width: 600px){
  .form{
    margin-left: 45px;

    .input{
      width:250px;
    }
    
    
  }
}
@media screen and (max-width: 464px){
  .form{
    margin-left: 200px;
    width: 50%;
    .input{
      width: 150px;
    }
    
  }
}

@media screen and (max-width: 280px){
  .form{
    margin-left: 200px;
    width: 50%;
    .input{
      width: 120px;
    }
    
  }
}


