.card-image{
    width: 64vw;
    height: 18vh;
    overflow: hidden;
    z-index: 1;


    img{
        height: 100%;
        width: 100%;
        object-fit: cover;
        
    }
}
.row{
    gap:0;
}

.col-md-6{
    margin-top: 40px;
    padding:20px 10px;

    .newsletter{
        color: white;
        margin:auto;
        background-color: rgb(1, 19, 27);
        font-weight: 500;
        font-family: Arial;
        font-size: 12px;
    
    }

    .card-h-100{
        border-radius: 5px;
        box-shadow: var(--box-shadow);
    }

    .card-heading{
        font-size: 20px;
        padding: 5px;
    }
    .card-title{
        font-size: 15px;

        h3{
            font-size: 17px;
        }
    }
    .card-body{
        width: 100%;
        height: 100%;
        padding: 10px;
    }
    
}
.overview{
    position: absolute;
    top: 0;
    background-color: rgba(0, 0, 0, 0.4);
    width: 64vw;
    height: 18vh;
    padding: 20px;
    color: white;
}

.card-top{
    border-radius: 5px;
    box-shadow: var(--box-shadow);
}

/* ORDER */

.order-title {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 1.3em;
    line-height: 1.5em;
    text-transform: capitalize;
    color: #000000;
}

.order-text {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 1em;
    line-height: 1.4;
    text-transform: capitalize;
    color: rgba(0, 0, 0, 0.5);
}

.order-item {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 1.1em;
    text-transform: capitalize;
    color: #000000;
}

.order-price {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 1.3em;
    line-height: 1.2em;
    text-transform: capitalize;
    color: #000000;
}

.MuiBox-root .css-19kzrtu {
    padding: 0;
}

.order-list {
    flex: 1;
    overflow-y: auto;
    height: 35rem;
}

.order-details-list {
    flex: 1;
    overflow-y: auto;
    height: 23rem;
}

/* REVIEW */
.review-title {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 1em;
    line-height: 1.5em;
    text-transform: capitalize;
    color: #000000;
}

.review-details {
    padding: 0 1rem;
}

.review-list {
    flex: 1;
    overflow-y: auto;
    height: 45rem;
}





@media only screen and (max-width: 991px) {
    .review-details {
        padding: 0;
    }

    .order-title {
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 1em;
        line-height: 1.2;
        text-transform: capitalize;
        color: #000000;
    }


}

@media only screen and (max-width: 464px) {
    .review-details {
        padding: 0;
    }

    .order-button {
        display: flex;
        justify-content: center;
    }

    .order-item {
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 1em;
        text-transform: capitalize;
        color: #000000;
    }

    .card-title {
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 1em;
        line-height: 1.2em;
        text-transform: capitalize;
        color: #000000;
    }
.overview{
    width:100%;
}
    .card-text {
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 300;
        font-size: 1em;
        line-height: 1.2em;
        text-transform: capitalize;
        color: rgba(0, 0, 0, 0.5);
    }
}



