

@media screen and (max-width:600px) {
    .filters{
        width: 100%;
        overflow: hidden;
        margin-left: -600px;
    }
}

@media screen and (max-width:360px) {
    .filters{
        width: 100%;
        overflow: hidden;
        margin-left: 10px;
        
    }
}