

@media screen and (max-width:600px) {
    .filters{
        width: 100%;
        overflow: hidden;
        margin-left: -600px;
    }
}

@media screen and (max-width:464px) {
    .filters{
        width: 50%;
        overflow: hidden;
        margin-left: -220px;
        display:flex;
        flex-wrap: wrap;
        
        


        
    }
}